.NavigationItems{
    margin: 0;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-flow: column;
    margin-left: 10px;
    align-items: center;
    height: 100%;
}

/* @media(min-width: 500px){
    .NavigationItems{
        flex-flow: row;
    }
} */