.Variation{
    margin: 0px;
    padding: 0px;
}
.Variation{
    margin: 30px auto;
    width: 90%;
    box-shadow: 0px 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}
.Image{
    text-align: center;
}
.Image img{
    width: 60%;
    height: 450px;
    border-radius: 15px;
}

.Main{
    text-align: center;
}
.Main h1{
    text-decoration: underline;
}

.Detailss{
    width: 90%;
    margin-left: 60px;
}

.Detailss h1{
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.Desc{
    margin-right: 300px;
    border: 1px solid black;
}

.Msg{
    margin-left: 200px;
}
.Msg p{
    text-align: center;
    font-size: xx-large;
    box-shadow: 0px 2px 3px #ccc;
    box-sizing: border-box;
    margin-top: 100px;
   
    width: 80%;
}

.Clicker{
    margin-top: 20px;
    float: right;
}
.Clicker button{
    font-family: inherit;
    font-weight: bolder;
    color: blanchedalmond;
    background-color: #78244c;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
} 

.Clicker button:hover,
.Clicker button:focus {
    padding: 15px;
    
}

.Clicker button:active {
    transform: scale(0.99);
} 

@media(max-width: 500px){
    .Detailss{
        width: 110%;
        margin-left: 20px;
    }
    
    .Detailss h1{
        margin-bottom: 5px;
        margin-right: 60px;
        border-bottom: 1px solid black;
    }
    
    .Desc{
        padding: 5px;
        padding-right: 10px;
        margin-right: 300px;
        border: 1px solid black;
    }
   .Clicker{
       margin-top: 80px;
       margin-right: 60px;
   }
    
}